/dataset/
/dataset_final/
/ruido_raw/
/dataset_wav/
/dataset_ruido/
/dataset_aumentado/
/dataset_ruido2/
/dataset_vozes/
/spectrograms/
/spectrograms_original/
/spectrograms_ruido/
/spectrograms_ruido_2/
/dataset_ruido_2/
/dataset_vozes_old/
/spectrograms_old/
/dados/
/data_img/